.main{
	display:flex;
	justify-content: center;
	text-align: center;
	width:100;
	background-color:skyblue;
}
.right{
	width:35;
	border:5px solid blue;
	box-shadow: 5px 5px 5px black;
	margin:1%;
	padding:1%;
	background-color: lightgreen;
}
.left{
	width:65;
	border:5px solid red;
	box-shadow: 5px 5px 5px black;
	margin:1%;
	padding:1%;
	background-color: lightgreen;
}
img{
	width: 150px;
}
h3{
	font-size: 33px;
}
@media only screen and (min-height: 540px) and (min-width: 320px){
	.main{
		display: flex;
		flex-wrap: wrap;
	}
}