.main{
	display:flex;
width:100%;
background-color:skyblue;
flex-direction:row;
}
.right{
	width:60%;
	border:5px solid blue;
	box-shadow: 5px 5px 5px black;
	margin: 1%;
	padding: 1%;
	background-color: lightgreen;
}
.left{
	width:30%;
	border:5px solid red;
	box-shadow: 5px 5px 5px black;
	margin: 1%;
	padding: 1%;
	background-color: lightpink;
	text-align: center;
}
img{
	width:150px;
	border: 2px solid black;
}
h1,
h2{
	font-size: 45px;
}
p{
	font-size: 20px;
}
@media only screen and (min-width: 320px) and (min-height: 480px){
	.main{
		display:flex;
	}
}
table,tr,td{
	border: 2px solid red;
	border-collapse: collapse;
}